<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.refeng.mapper.WithdrawalsMapper">

	<!-- 总条数 -->
	<select id="lotterycount" resultType="integer" parameterType="com.refeng.pojo.Query">
		select count(1)
		from act.TB_ORDER_WITHDRAW a LEFT JOIN act.TB_USER_INFO fo ON
		a.USER_ID=fo.user_id WHERE 1=1
		<if test="startTime != null ">
			AND a.CREATE_TIMESTAMP > #{startTime}
		</if>
		<if test="endTime != null">
			AND #{endTime} >a.CREATE_TIMESTAMP
		</if>
		<if test="mode != null">
			AND #{mode} =a.ORDER_STATUS
		</if>
		<if test="order != null  and order !=''">
			AND #{order} =a.ORDER_ID
		</if>
		<if test="name != null and name !='' ">
			AND #{name} =fo.USER_NAME
		</if>

	</select>
	<select id="fList" resultType="com.refeng.model.Withdrawals"
		parameterType="com.refeng.pojo.Query">
		select * from (
		select rownum rm ,t.*
		from (
		select a.USER_ID AS userId, a.ORDER_ID AS orderId, a.ACCOUNT_NO AS
		accountNo,a.ORDER_AMOUNT AS orderAmout,a.FEE_AMOUNT AS
		feeAmout,a.CREATE_TIMESTAMP AS createTimestamp, a.ORDER_STATUS AS orderStatus,
		fo.USER_NAME as nickname,fo.REAL_NAME AS realName
		from act.TB_ORDER_WITHDRAW a LEFT JOIN act.TB_USER_INFO fo ON
		a.USER_ID=fo.user_id WHERE 1=1

		<if test="startTime != null ">
			AND a.CREATE_TIMESTAMP > #{startTime}
		</if>
		<if test="endTime != null">
			AND #{endTime} >a.CREATE_TIMESTAMP
		</if>
		<if test="mode != null">
			AND #{mode} =a.ORDER_STATUS
		</if>
		<if test="order != null and order !=''">
			AND #{order} =a.ORDER_ID
		</if>
		<if test="name != null and name !='' ">
			AND #{name} =fo.USER_NAME
		</if>
		) t
		) where rm>((#{pageNum}-1)*#{size}) and (#{pageNum}*#{size})>rm
	</select>



</mapper>