<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">

<head th:fragment="page">

<body>

<nav>
	<!-- 处理页数大于7 的情况 -->
	<ul class="pagination" data-th-if="${page.pageSize gt 7}" >
		<!-- 上一页 -->
		<li class="page-item" data-th-classappend="*{first} ? 'disabled' : ''">
			<a th:href="@{${url}+'?pageIndex='+${page.pageNum-1}}" class="page-link" data-th-attr="pageIndex=${page.pageNum} - 1" aria-label="Previous">
				<span aria-hidden="true">«</span>
			</a>
		</li>

		<!-- 首页 -->
		<li class="page-item" data-th-classappend="${(page.pageNum + 1) eq 1} ? 'active' : ''" >
			<a th:href="@{${url}+'?pageIndex=1'}" class="page-link" data-th-attr="pageIndex=0">1</a>
		</li>


		<!-- 当前页面小于等于4 -->
		<li class="page-item" data-th-if="${(page.pageNum + 1) le 4}" data-th-each="i : ${#numbers.sequence(2,5)}"
			data-th-classappend="${(page.pageNum + 1) eq i} ? 'active' : ''" >
			<a class="page-link" th:href="@{${url}}" data-th-attr="pageIndex=${i} - 1">
				<span data-th-text="${i}"></span>
			</a>
		</li>

		<li class="page-item disabled" data-th-if="${(page.pageNum + 1) le 4}">
			<a th:href="@{${url}}" class="page-link">
				<span aria-hidden="true">...</span>
			</a>
		</li>

		<!-- 最后一页与当前页面之差，小于等于3 -->
		<li class="page-item disabled" data-th-if="${(page.pageSize-(page.pageNum + 1)) le 3}">
			<a th:href="@{${url}}" class="page-link">
				<span aria-hidden="true">...</span>
			</a>
		</li>
		<li class="page-item" data-th-if="${(page.pageSize-(page.pageNum + 1)) le 3}" data-th-each="i : ${#numbers.sequence(page.pageSize-4, page.pageSize-1)}"
			data-th-classappend="${(page.pageNum + 1) eq i} ? 'active' : ''" >
			<a class="page-link" th:href="${${url}}" data-th-attr="pageIndex=${i} - 1">
				<span data-th-text="${i}"></span>
			</a>
		</li>

		<!-- 最后一页与当前页面之差大于3，且  当前页面大于4-->

		<li class="page-item disabled" data-th-if="${((page.pageNum + 1) gt 4) and ((page.pageSize-(page.pageNum + 1)) gt 3 )}">
			<!--/*@thymesVar id="url" type="antlr"*/-->
			<a th:href="@{url}" class="page-link">
				<span aria-hidden="true">...</span>
			</a>
		</li>
		<li class="page-item" data-th-if="${((page.pageNum + 1) gt 4) and ((page.pageSize-(page.pageNum + 1)) gt 3 )}" >
			<a th:href="@{${url}}" class="page-link" data-th-attr="pageIndex=${page.pageNum}">[[${page.pageNum}]]</a>
		</li>
		<li class="page-item active" data-th-if="${((page.pageNum + 1) gt 4) and ((page.pageSize-(page.pageNum + 1)) gt 3 )}">
			<a th:href="@{${url}}" class="page-link" data-th-attr="pageIndex=${page.pageNum} + 1">[[${page.pageNum + 1}]]</a>
		</li>
		<li class="page-item" data-th-if="${((page.pageNum + 1) gt 4) and ((page.pageSize-(page.number + 1)) gt 3 )}">
			<a th:href="@{${url}}" class="page-link" data-th-attr="pageIndex=${page.number} + 2">[[${page.pageNum + 2}]]</a>
		</li>

		<li class="page-item disabled"  data-th-if="${((page.pageNum + 1) gt 4) and ((page.pageSize-(page.pageNum + 1)) gt 3 )}">
			<a href="javascript:void(0)" class="page-link">
				<span aria-hidden="true">...</span>
			</a>
		</li>

		<!-- 最后一页 -->
		<li class="page-item" data-th-classappend="${(page.pageNum + 1) eq page.pageSize} ? 'active' : ''" >
			<a th:href="@{${url}+'?pageIndex='+${page.pageSize}}" class="page-link" data-th-attr="pageIndex=${page.pageSize} - 1" th:text="${page.pageSize}"></a>
		</li>

		<!-- 下一页 -->
		<li class="page-item" data-th-classappend="*{last} ? 'disabled' : ''">
			<a th:href="@{${url}+'?pageIndex='+${page.pageNum+1}}" class="page-link" data-th-attr="pageIndex=${page.pageNum} + 1" aria-label="Next">
				<span aria-hidden="true">»</span>
			</a>
		</li>
	</ul>
</nav>
</body>
</head>
</html>
<script>

    alert("aaaaa");
    var aObj = document.getElementsByTagName("a");
    for(var i=0;aObj.length>i;i++){
        aObj[i].innerText="aaaaaaa";//如果是a标签内容赋值的话:aObj[i].innerText = "内容";
    }

</script>