<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>OPER</title>

<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/font-awesome/css/font-awesome.css}" rel="stylesheet" />
<link th:href="@{/css/style.css}" rel="stylesheet" />
<link th:href="@{/css/bootstrap-datetimepicker.min.css}"
	rel="stylesheet" type="text/css" />
<link th:href="@{/css/plugins/iCheck/custom.css}" rel="stylesheet" />
<link th:href="@{/css/plugins/footable/footable.core.css}"
	rel="stylesheet" />

</head>

<body>

	<div id="wrapper">
		<nav class="navbar-default navbar-static-side" role="navigation"
			th:include="nav :: navigation"></nav>
		<div id="page-wrapper" class="gray-bg">
			<div class="border-bottom" th:include="header :: headerTop"></div>
			<div class="row wrapper border-bottom white-bg page-heading"
				th:fragment="headerNav">
				<div class="col-lg-10">
					<h2>提现管理</h2>

				</div>
				<div class="col-lg-2"></div>
			</div>

			<div class="wrapper wrapper-content animated fadeInRight">
				<div class="row">
					<div class="col-lg-12">
						<div class="ibox float-e-margins">
							<div class="ibox-title">
								<h5>搜索查询</h5>
								<div class="ibox-tools">
									<a class="collapse-link"> <i class="fa fa-chevron-up"></i>
									</a>
								</div>
							</div>
							<div class="ibox-content" style="display: block;">
								<form action="list">
									<div class="row">

										<div class="col-sm-2 m-b-xs">
											<select name="mode" id="mode" class="form-control">
												<option value="0" th:selected="${query.mode==null}">--请选择检索条件--</option>
												<option value="1" th:selected="${query.mode==1}">待支付</option>
												<option value="2" th:selected="${query.mode==2}">已支付</option>
												<option value="3" th:selected="${query.mode==3}">支付失败</option>

											</select>
										</div>
										<div class="col-sm-2 m-b-xs">
											<input name="name" placeholder="昵称" class="form-control"
												type="text" th:value="${query.name}" />
										</div>
										<div class="col-sm-2 m-b-xs">
											<input name="order" placeholder="订单号" class="form-control"
												type="text" th:value="${query.order}" />
										</div>
										<div class="col-sm-4 m-b-xs">
											<label class="col-sm-4 control-label">开始时间:</label>
											<input type="date" name="startTime1"
												   th:value="${query.startTime1}"  />
										</div>
										<div class="col-sm-4 m-b-xs">
											<label class="col-sm-4 control-label">结束时间：</label>
											<input type="date" name="endTime1"
												   th:value="${query.endTime1}"  />
										</div>

									</div>
									<div class="row">


										<div class="col-sm-2 m-b-xs">
											<button class="btn btn-primary btn-block" type="submit">
												<i class="fa fa-search"></i>&nbsp;&nbsp;&nbsp;&nbsp;<strong>搜索</strong>
											</button>
										</div>
									</div>
								</form>


							</div>
						</div>
					</div>

					<div class="col-lg-12">
						<div class="ibox float-e-margins">
							<div class="ibox-title">
								<h5>充值列表</h5>
								<div class="ibox-tools">
									<a class="collapse-link"> <i class="fa fa-chevron-up"></i>
									</a>
								</div>
							</div>
							<div class="ibox-content">
								<div class="table-responsive">
									<table class=" table table-hover" data-page-size="10">
										<thead>
											<tr>
												<th width="10%">订单ID</th>
												<th width="10%">用户昵称</th>
												<th width="10%">真实姓名</th>
												<th width="10%">银行账户</th>
												<th width="10%">提现金额（元）</th>
												<th width="10%">手续费（元）</th>
												<th width="10%">提现时间</th>
												<th width="10%">状态</th>
												<th width="15%">操作</th>


											</tr>
										</thead>
										<tbody>
											<tr th:each="list : ${wList}">
												<td th:text="${list.orderId}">Onions</td>
												<td th:text="${list.nickname}">Onions</td>
												<td th:text="${list.realName} "></td>
												<td th:text="${list.accountNo}">Onions</td>
												<td th:text="${list.orderAmout}">Onions</td>
												<td th:text="${list.feeAmout}">Onions</td>

												<td th:text="${#dates.format(list.createTimestamp,'yyyy-MM-dd')}">Onions</td>
												<td th:text="${list.status}">Onions</td>
												<td>
													<!--\''+${prod.id}+'\'--> <!--javascript:Foundation('+${list.orderId}+')-->

													<a th:if="${list.orderStatus} ==4 "	th:href="@{/admin/withdrawals/byId(rId=${list.orderId})}">审核</a>

													<a th:if="${list.orderStatus} ==5 "
													   th:href="@{/admin/withdrawals/updatStates(orderId=${list.orderId})}">审核通过</a>
													<a th:if="${list.orderStatus} ==1 "
													   th:href="@{/admin/withdrawals/updatSt(orderId=${list.orderId})}">取消提现</a>
												</td>





												<td>
													<!-- 										      		<a href="#" th:onclick="'javascript:updateState('+${news.id}+',0,2);'" title="状态"><i class="" th:class="${news.commendState} == 2? 'fa fa-arrow-up text-danger' : 'fa fa-arrow-down text-navy'"></i></a> -->
												</td>

											</tr>

										</tbody>

										<tfoot>
											<tr>
												<td colspan="7">
													<ul id="pageHTML" class="pagination pull-right"></ul>
												</td>
											</tr>
										</tfoot>
									</table>
									<nav>
										<ul class="pagination">
											<li><a href="">&laquo;</a></li>

											<li><a th:if="${not isFirstPage}"
												th:href="@{${'/admin/finance/list'}(pageNum=${pageNum-1},pageSize=${pageSize})}">上一页</a>
												<!--/*@thymesVar id="isFirstPagee" type="antlr"*/--> <a
												th:if="${isFirstPagee}" href="javascript:void(0);">上一页</a></li>

											<li
												th:each="pageNo : ${#numbers.sequence(1, totalPages)}">

												<a th:if="${pageNum eq pageNo}" href="javascript:void(0);">
													<span th:text="${pageNo}"></span>
											</a> <a th:if="${not (pageNum eq pageNo) }"
												th:href="@{${'/admin/finance/list'}(pageNum=${pageNo},size=${pageSize})}">
													<span th:text="${pageNo}"></span>
											</a>

											</li>
											<li><a th:if="${not isLastPage}"
												th:href="@{${'/admin/finance/list'}(pageNum=${pageNum+1},size=${pageSize})}">下一页</a>
												<a th:if="${isLastPage}" href="javascript:void(0);">下一页</a>
											</li>

											<li><a href="#">&raquo;</a></li>
										</ul>
									</nav>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="footer" th:include="footer :: copyright"></div>
		</div>
	</div>
	<form action="updateId" id="updateId">
		<input id="userId" name="userId" value="" />
	</form>
	<!-- Mainly scripts -->
	<script th:src="@{/js/jquery-2.1.1.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
	<script th:src="@{/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>

	<!-- Peity -->
	<script th:src="@{/js/plugins/peity/jquery.peity.min.js}"></script>

	<!-- Custom and plugin javascript -->
	<script th:src="@{/js/inspinia.js}"></script>
	<script th:src="@{/js/plugins/pace/pace.min.js}"></script>

	<!-- iCheck -->
	<script th:src="@{/js/plugins/iCheck/icheck.min.js}"></script>

	<!-- Peity -->
	<script th:src="@{/js/demo/peity-demo.js}"></script>

	<!-- FooTable -->
	<script th:src="@{/js/plugins/footable/footable.all.min.js}"></script>
	<script th:src="@{/js/date.js}"></script>
	<script th:src="@{/js/bootstrap-datetimepicker.min.js}"></script>
	<script th:src="@{/js/bootstrap-datetimepicker.zh-CN.js}"></script>
	<!-- common -->
	<script th:src="@{/js/common.js}"></script>
	<script type="text/javascript">
//日期插件
$(".form_datetime").datetimepicker({
format: 'yyyy-mm-dd',//显示格式
todayHighlight: 1,//今天高亮
minView: "month",//设置只显示到月份
startView:2,
forceParse: 0,
showMeridian: 1,
autoclose: 1//选择后自动关闭
});
</script>
	<script type="text/javascript">
	function Foundation(obj) {

        var mymessage = confirm("确定修订为支付成功吗？");
        if (mymessage) {
            $("#userId").val(obj);
            $("#updateId").submit();
        }
    }
	</script>
</body>

</html>
